@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #d6e1f0;
    text-align: center;
    
}

main{
    width: 280px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
   
}
.content{
    margin: 15px;
   
}
.content img{
    width: 250px;
    height: 15rem;
    
    border-radius: 10px;
}
.content h1{
    font-size: 20px;
    font-weight: 800;
    margin: 20px 0;
}
.content p{
    font-size: 14px;
    font-weight: 400;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
